{% extends 'base.html' %}
{% block title %} Zenith - Create Schedule{% endblock %}
{% block content %}
<style>
    body {
        margin: 0px;
    }

    .bottom-row {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #e3e3e3;
      padding: 10px;
      text-align: center;
    }

    .create_schedule, .add_exercise, .addSetButton {
        padding: 2px;
        border-radius: 20px;
        background-color: rgb(223, 66, 66);
        color: white;
        border-color: white;
        font-weight: 400;
        min-width: 120px;
    }

    .btn-Div {
        display: inline;
        }

    .btn-close {
        margin-left: 10px;
        display: inline-block;
    }

    .col-auto {
        width: 45%;
        min-width: 100px;
    }

    .content {
        margin-bottom: 85px;
    }

    .set_input_weight {
        margin-right: 4px;
    }


    @media screen and (max-width: 600px) {
        .set_input_weight {
            margin-right: 0px;
        }

        .btn-close {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 3%;
        }

        .btn-Div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
        }

        .set_input_reps {
            margin: 0px;
        }
    }
    
</style>
<div class="container shadow bg-light p-3 mt-4 mb-5 rounded">
<h1 class="mt-2">Create Schedule</h1>
<form id="scheduleForm" method="post">
    <div class="scheduleDiv">
        <input type="text" placeholder="Enter schedule" name="schedule_name" id="schedule_name">
    </div>
    <h2>Exercise 1</h2>
    <div id="exercisesContainer">
        <div class="exercise">
            <label for="exercise_name" class="exerciseDiv">
                <input type="text" placeholder="Enter exercise" name="exercise_name[]" class="exercise_input">
            </label>
            <div class="sets">

                <h3 class="set_num">Set 1</h3>
                <div class="set">
                    <input type="text" placeholder="Enter weight" name="set_weight_1[]" class="set_input">

                    <input type="text" placeholder="Enter reps" name="set_reps_1[]" class="set_input">
                </div>
            </div>

            <button type="button" class="addSetButton">Add Set</button>

        </div>
    </div>
</div>
    <div class="bottom-row">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="button" class="add_exercise" id="addExerciseButton">Add Exercise</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="create_schedule">Create</button>
            </div>
        </div>
    </div>
</form>


<script>
    let exerciseCount = 1;

    function addSetHandler(button) {
        button.addEventListener('click', function () {
            const sets = button.parentNode.querySelector('.sets');
            const setCount = sets.querySelectorAll('.set').length + 1;

            const newSetDiv = document.createElement('div');
            newSetDiv.className = 'set';

            const newSetLabel = document.createElement('h3');
            newSetLabel.innerText = `Set ${setCount}`;
            newSetLabel.className = "set_num"

            const newWeightInput = document.createElement('input');
            newWeightInput.type = 'text';
            newWeightInput.placeholder = 'Enter weight';
            newWeightInput.name = `set_weight_${exerciseCount}[]`;
            newWeightInput.className = 'set_input_weight';

            const newRepsInput = document.createElement('input');
            newRepsInput.type = 'text';
            newRepsInput.placeholder = 'Enter reps';
            newRepsInput.name = `set_reps_${exerciseCount}[]`;
            newRepsInput.className = 'set_input_reps';
            newRepsInput.style.margin = '3px';
            
            const btnDiv = document.createElement('div');
            btnDiv.className = 'btn-Div';

            const deleteSetButton = document.createElement('button');
            deleteSetButton.type = 'button';
            deleteSetButton.className = 'btn-close';
            deleteSetButton.addEventListener('click', function () {
            sets.removeChild(newSetDiv);
        });

            newSetDiv.appendChild(newSetLabel);
            newSetDiv.appendChild(newWeightInput);
            newSetDiv.appendChild(newRepsInput);
            newSetDiv.appendChild(btnDiv);
            newSetDiv.appendChild(deleteSetButton);

            sets.appendChild(newSetDiv);
        });
    }

    document.getElementById('addExerciseButton').addEventListener('click', function () {
        exerciseCount++;

        const exercisesContainer = document.getElementById('exercisesContainer');
        const exerciseDiv = document.createElement('div');
        exerciseDiv.className = 'exercise';

        const exerciseLabel = document.createElement('h2');
        exerciseLabel.innerText = `Exercise ${exerciseCount}`;

        const exerciseInput = document.createElement('input');
        exerciseInput.type = 'text';
        exerciseInput.placeholder = 'Enter exercise';
        exerciseInput.name = `exercise_name[]`;
        exerciseInput.className = 'exercise_input';

        const deleteSetButton = document.createElement('button');
        deleteSetButton.type = 'button';
        deleteSetButton.className = 'btn-close';
        deleteSetButton.addEventListener('click', function () {
        exercisesContainer.removeChild(exerciseDiv);
        exerciseCount = 1
        })

        const setsDiv = document.createElement('div');
        setsDiv.className = 'sets';

        const setLabel = document.createElement('h3');
        setLabel.innerText = 'Set 1';

        const setDiv = document.createElement('div');
        setDiv.className = 'set';

        const weightInput = document.createElement('input');
        weightInput.type = 'text';
        weightInput.placeholder = 'Enter weight';
        weightInput.name = `set_weight_${exerciseCount}[]`;
        weightInput.className = 'set_input_weight';

        const repsInput = document.createElement('input');
        repsInput.type = 'text';
        repsInput.placeholder = 'Enter reps';
        repsInput.name = `set_reps_${exerciseCount}[]`;
        repsInput.className = 'set_input_reps';
        repsInput.style.margin = '3px';

        const btnDiv = document.createElement('div');
        btnDiv.className = 'btn-Div';

        setDiv.appendChild(weightInput);
        setDiv.appendChild(repsInput);

        setsDiv.appendChild(setLabel);
        setsDiv.appendChild(setDiv);

        
        exerciseDiv.appendChild(exerciseLabel);
        exerciseDiv.appendChild(exerciseInput);
        exerciseDiv.appendChild(btnDiv);
        exerciseDiv.appendChild(deleteSetButton);
        exerciseDiv.appendChild(setsDiv);

        const addSetButton = document.createElement('button');
        addSetButton.type = 'button';
        addSetButton.className = 'addSetButton';
        addSetButton.innerText = 'Add Set';
        exerciseDiv.appendChild(addSetButton);

        exercisesContainer.appendChild(exerciseDiv);

        addSetHandler(addSetButton);
    });

    // Attach event handler to the first 'Add Set' button
    addSetHandler(document.querySelector('.addSetButton'));
</script>
{% endblock %}