{% extends "base.html" %}
{% block title %} Zenith - Forgot Password {% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow bg-light rounded">
        <div class="card-header">
          Forgot Password
          <hr>
          <p>An email will popup in your email's inbox. If you can't find it check your spam folder.</p>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
              <label for="resetPasswordEmail">Email</label>
              <input type="email" name="email" class="form-control mb-2" id="resetPasswordEmail" placeholder="Enter email" required>
              <!-- <div class="form-group">
                <label for="verificationCode">Verification Code</label>
                <input type="text" name="verification_code" class="form-control mb-2" id="verificationCode" placeholder="Enter verification code" required> -->
            </div>
            <button type="submit" class="btn btn-primary mb-2">Send Email</button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}