{% extends 'base.html' %}
{% block title %}Zenith - Login{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form method="post">
              <div class="form-group">
                <label for="loginEmail">Email</label>
                <input type="text" name="email" class="form-control mb-2" id="loginEmail" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" name="password" class="form-control mb-2" id="loginPassword" placeholder="Enter password">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Login</button>
            </form>
            <div class="links d-flex justify-content-between">
            <a href="/signup">Don't have an account?</a>
            <a href="/recovery">Forgot password?</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}