{% extends "base.html" %}
{% block title %}Zenith - Reset Password{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow bg-light rounded">
        <div class="card-header">
          Reset Password
        </div>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
              <label for="password1">Password</label>
              <input type="password" name="password1" class="form-control mb-2" id="password1" placeholder="Enter password" required>
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input type="password" name="password2" class="form-control mb-2" id="password2" placeholder="Re-enter password" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}