{% extends 'base.html' %}
{% block title %}Run Schedule{% endblock %}
{% block content %}
<h3>{{schedule.schedule_name}}</h3>

<form method="post">
    {% for exercise in exercises %}
        <h4>{{exercise.exercise_name}}</h4>
        {% for set in sets %}
            {% if exercise.id == set.exercise_id %}
                <h5>Last Set Weight: {{ set.weight }} lbs</h5>
                <input type="text" placeholder="Enter New Weight" name="new_weight">
                <h5>Last Set Reps: {{ set.reps }}</h5>
                <input type="text" placeholder="Enter New Reps" name="new_reps">
                <input type="hidden" name="id" value="{{ set.id }}">
                <input type="hidden" name="ex_id" value="{{ exercise.exercise_name }}">
            {% endif %}
        {% endfor %}
    {% endfor %}
    <br>
    <input type="submit" class="mt-2" value="Update">
</form>

{% endblock %}